.cost-container {
    background-color: rgba(0, 0, 0, 0.897);
    border-top-left-radius: 64px;
    border-bottom-right-radius: 64px;
    color: #fff;
    max-width: 420px;
    margin: 0 auto;
    padding: 42px;
    margin-bottom: 42px;
}
.horizontal {
    margin-top: 32px;
    margin-bottom: 32px;
    color: lightgray;
}